<!-- add-task.component.html -->
<div class="add-task-page">
  <form [formGroup]="editTaskForm" (ngSubmit)="onEditTask()">
    <h2 class="new-task">Edit Task</h2>
    <label for="title">Title:</label>
    <input
      class="input-style"
      formControlName="title"
      id="title"
      type="text"
      required
    />

    <label for="description">Description:</label>
    <textarea formControlName="description" id="description"></textarea>

    <label for="dueDate">Due Date:</label>
    <input
      formControlName="dueDate"
      id="dueDate"
      type="date"
      [min]="minDate"
      class="input-style"
    />

    <label for="priority">Priority:</label>
    <select formControlName="priority">
      <option value="Low" [selected]="this.task?.priority === 'Low'">
        Low
      </option>
      <option value="Medium" [selected]="this.task?.priority === 'Medium'">
        Medium
      </option>
      <option value="High" [selected]="this.task?.priority === 'High'">
        High
      </option>
    </select>

    <label for="category">Category:</label>
    <select formControlName="category">
      <option value="Work" [selected]="this.task?.category === 'Work'">
        Work
      </option>
      <option value="Personal" [selected]="this.task?.category === 'Personal'">
        Personal
      </option>
      <option
        value="Health & Fitness"
        [selected]="this.task?.category === 'Health $ Fitness'"
      >
        Health & Fitness
      </option>
      <option value="Travel" [selected]="this.task?.category === 'Travel'">
        Travel
      </option>
    </select>

    <label for="status">Status:</label>
    <select formControlName="status">
      <option value="Pending" [selected]="this.task?.status === 'Pending'">
        Pending
      </option>
      <option value="Done" [selected]="this.task?.status === 'Done'">
        Done
      </option>
      <option value="Overdue" [selected]="this.task?.status === 'Overdue'">
        Overdue
      </option>
    </select>
    <div class="submit-task-div">
      <button type="submit" class="submit-task">Edit Task</button>
    </div>
  </form>
  <div class="nav-task-button">
    <button class="page-nav-btn" type="button" (click)="goBack()">
      Go Back
    </button>
    <button class="page-nav-btn" type="button" (click)="onClear()">
      Clear Task
    </button>
  </div>
</div>
