<div class="task-list-container">
  <div class="list-top">
    <button (click)="navigateToAddTask()" class="btn btn-primary">
      Add New Task
    </button>

    <!-- Notification Bell with Overdue Tasks Badge -->
    <div class="notification-container">
      <!-- Notification Bell with Overdue Tasks Badge -->
      <button type="button" class="icon-button" (click)="toggleDropdown()">
        <i class="bi bi-bell-fill notification h5" style="color: black"></i>
        <span class="icon-button__badge">{{ notifications.length }}</span>
      </button>

      <!-- Dropdown for Overdue Notifications -->
      <div *ngIf="isDropdownOpen" class="notification-dropdown">
        <h4 class="notify-head">Overdue Tasks</h4>
        <div *ngIf="notifications.length === 0" class="no-notify">
          No overdue tasks
        </div>
        <ul class="notify-list">
          <li
            *ngFor="let overDueTask of ovderDueTasks"
            class="notify-sublist"
            (click)="editTask(overDueTask.id)"
          >
            Task {{ overDueTask.title }} is Overdue<span class="overdue-logo"
              ><i class="bi bi-stopwatch" style="color: brown"></i
            ></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <h2 class="task-header">Your Tasks</h2>

  <table *ngIf="tasks.length > 0" class="table table-hover table-style">
    <thead class="thead-style">
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Due Date</th>
        <th>Priority</th>
        <th>Category</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of paginatedData">
        <td class="t-d">{{ task.title }}</td>
        <td class="description-cell" [title]="task.description">
          <div class="description-cell">{{ task.description }}</div>
        </td>

        <td>{{ task.dueDate | date : "shortDate" }}</td>
        <td>{{ task.priority }}</td>
        <td>{{ task.category }}</td>
        <td
          [ngClass]="{
            'pending-sty': task.status === 'Pending',
            'done-sty': task.status === 'Done',
            'overdue-sty': task.status === 'Overdue'
          }"
        >
          {{ task.status }}
        </td>
        <td id="btn-td">
          <button (click)="editTask(task.id)">
            <i class="bi bi-pencil-square"></i>
          </button>
          <button (click)="deleteTask(task.id)" class="delete-btn">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Pagination controls -->
  <div class="list-bottom">
    <div class="logout-btn" *ngIf="tasks.length !== 0">
      <button (click)="logout()" class="btn btn-secondary">
        <i class="bi bi-box-arrow-left"></i>Logout
      </button>
    </div>
    <div class="pagination" *ngIf="tasks.length !== 0">
      <button
        (click)="goToPage(currentPage - 1)"
        [disabled]="currentPage === 1"
        class="arrows"
        style="color: azure"
      >
        <i class="bi bi-arrow-left-circle-fill h3"></i>
      </button>
      <span class="pg-no">Page {{ currentPage }} of {{ totalPages }}</span>
      <button
        (click)="goToPage(currentPage + 1)"
        [disabled]="currentPage === totalPages"
        class="arrows"
      >
        <i class="bi bi-arrow-right-circle-fill h3" style="color: azure"></i>
      </button>
    </div>
  </div>
  <div *ngIf="tasks.length === 0" class="no-tasks-display">
    <div class="no-task-body">
      <p *ngIf="tasks.length === 0" class="no-task-text">
        No tasks available. Please add some tasks!
      </p>
    </div>
    <div class="no-task-btn">
      <div class="logout-btn">
        <button
          (click)="logout()"
          class="btn btn-secondary"
          *ngIf="tasks.length === 0"
        >
          <i class="bi bi-box-arrow-left"></i>Logout
        </button>
      </div>
    </div>
  </div>
</div>
